# LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.run.xml
*.toc
*.synctex.gz

# ModelSim/Questa
work/
transcript
vsim.wlf
*.mti

# Quartus (common)
db/
incremental_db/
output_files/
*.rpt
*.smsg
*.qpf
*.qsf
*.qws
